@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}
.root{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}
.root p{
  font-size: 50px;
}
.root .text{
  display: flex;
}
#box{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100vh;
  background: #44444446;
  display: block;
  transition: all .5s ease;
  transform: translateY(-100%);
}
.root div .button{
  display: flex;
  justify-content: center;
  align-items: center;
}
.root div .button button{
  border: none;
  background: #FECACA;
  padding: 5px 10px;
  font-weight: bold;
  border-radius: 1rem;
  cursor: pointer;
}
#box.active{
  display: block;
  transition: all .5s ease;
  transform: translateY(0);
}
#box #btn-cls{
  cursor: pointer;
  position: absolute;
  left: 2%;
  top: 2%;
  font-size: 30px;
  border: none;
  background: transparent;
  color: red;
  font-weight: bold;
}
#box div{
  background: white;
  justify-content: center;
  align-items: center;
  display: flex;
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
  height: 500px;
}
#box div main {
 align-items: center;
 text-align: center;
}
audio{
  margin-top: 50px;
  border: 5px solid #fecaca;
  border-radius: 2rem;
}
@media screen and (max-width: 986px){
  #box div{
    width: 90%;
    margin-left: 5%;
  }
  #btn-cls{
    margin-left: 4%;
    margin-top: 1%;
  }
}